################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Abbyy.zip
/.vs/decisions-mod-skeleton/v16/.suo
/.vs/Abbyy/v16/Server/sqlite3
/.vs
/Abbyy/bin/Debug
/Abbyy/obj/Debug
/Abbyy/obj/Release
